/LambdaExpression.class
/FunctionalClass.class
/FunctionalInterface.class
/FunctionalInterface2.class
/FunctionalInterface3.class
/FunctionalInterface4.class
/FunctionalInterface5.class
/FunctionalInterface6.class
