/LabeledBreak.class
/WhileIteration.class
/CompileError1.class
/Circle.class
/CompileError2.class
/TestInterface.class
/TestInterface1.class
/TestInterface2.class
/testClass.class
/testClass2.class
/CompileError3.class
/TheAbstract.class
/TheInterface.class
/Primitives.class
/VarInference.class
/Arrays.class
/CompileError4.class
/AbstractClass.class
/Parent.class
