/LabeledBreak.class
/WhileIteration.class
/CompileError1.class
/Circle.class
/CompileError2.class
/TestInterface.class
/TestInterface1.class
/TestInterface2.class
/testClass.class
/testClass2.class
/CompileError3.class
/TheAbstract.class
/TheInterface.class
/Primitives.class
/VarInference.class
/Arrays.class
/CompileError4.class
/AbstractClass.class
/Parent.class
/CompileError5.class
/Cube.class
/Square.class
/Square$Cube.class
/IncrementDecrement.class
/CompileError6.class
/CompileError6$Cell.class
/StringBufferEqualsExample.class
/ListCompilation.class
/Cereal.class
/PublicInterfaceExample.class
/Pancake.class
/InstanceVariableCompileError.class
/Game.class
